*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: sans-serif;
}

body
{
    min-width:100vw;
    min-height:100vh;
    overflow-x: hidden;
}

::-webkit-scrollbar
{
    width:5px;
    height:5px;
    background:lightgray;
}

::-webkit-scrollbar-thumb
{
    height:5px;
    background:#084db4;
    border-radius:20px;
}

@media (max-width:768px)
{
    html
    {
        font-size:90%;
    }
}


@media (max-width:468px)
{
    html
    {
        font-size:70%;
    }
}